@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap') .font-inter .font-raleway {
    font-family: "Inter", sans-serif;
    font-family: "Raleway", sans-serif;
}

.nav-container {
    width: 1200px;
    height: 48px;
    margin: 32px;
}

.nav-title {
    width: 144px;
    height: 42px;
    font-size: 24px;
}

.btn {
    box-sizing: border-box;
    border: 1px solid rgba(29, 209, 0, 0.4);
    border-radius: 12px;
    background: rgba(29, 209, 0, 0.1);
    color: rgb(29, 209, 0);
}

/* 2nd part */

.banner-image {
    background: url('../images/banner.png') no-repeat center;
    width: 1200px;
    height: 500px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.banner-content {
    background-size: contain;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.banner-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;
}

.special {
    color: #1DD100;
    font-size: 40px;
    font-weight: 800;
}

.banner-discription {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    align-items: center;
}
.tickets{
    text-align: center;
}

.btn-warning{
margin-top: 20px;
width: 120px;
height: 40px;
border-radius: 12px;
background: rgb(29, 209, 0);
}